.titre 
{

border: solid 1px black;
background-color: black;
color: yellow;
}



table {
    border: solid 3px yellowgreen;
}

td {
    border: solid 1px black;
    background-color:burlywood

}


th {
    border: solid 1px black;
    background-color:burlywood
}


.blanc

{
    background-color: white

}



#rose

{
    background-color:lightcoral;
}